@{
    ViewBag.Title = "微信帐号列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using VisualSmart.Domain.WeChat;
@using VisualSmart.Util;
@model IList<WxPayConfigDomain>

<div class="page-content">

    <div class="page-header">
        <h1>
            微信帐号列表
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                查询条件
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal " role="form" action="/WxPayConfig/Index" id="index" method="get">
                <input type="hidden" id="page" name="page" />
                @Html.AntiForgeryToken()
                <!-- 查询条件-->
                <div class="form-group" style="margin-bottom:6px;">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-tags">名称：</label>
                    <div class="col-sm-3 ">
                        <input type="text" name="WeAppName" id="WeAppName" placeholder="名称" value="@ViewBag.WeAppName" />
                    </div>

                </div>
                <hr class="no-padding no-margin" />
                <div class="row">
                    <div class="col-xs-12">
                        <!-- 查询功能-->
                        <div class="row">
                            <div class="col-sm-12 " id="default-buttons">

                                <p>
                                    <button class="btn btn-sm btn-success" type="submit">
                                        <i class="ace-icon fa fa-search bigger-110 "></i>
                                        查询
                                    </button>
                                    <a class="btn btn-sm btn-primary " href="/WxPayConfig/Add">
                                        <i class="ace-icon fa fa-plus bigger-110"></i>
                                        添加
                                    </a>
                                </p>
                                <!-- /section:elements.button.white -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->

                        <div class="space-4"></div>
                        <!-- 查询列表 -->
                        <div class="row">

                            <div class="col-xs-12 table-responsive">
                                <table id="simple-table" class="table table-hover table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th>操作</th>
                                            <th><span style="margin-right:100px;">名称</span></th>
                                            <th>APPID</th>

                                            <th>备注</th>
                                            <th>创建时间/创建人</th>
                                            <th>修改时间/修改人</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var m in Model)
                                        {
                                            <tr>
                                                <td>

                                                    <div class="btn-group">
                                                        <a href="/WxPayConfig/Add?Id=@m.Id" class="btn btn-xs btn-info" title="编辑">
                                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                        </a>

                                                        <a class="btn btn-xs btn-danger" title="删除" onclick="Delete('@m.Id');">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </a>

                                                    </div>

                                                </td>
                                                <td>@m.WeAppName</td>
                                                <td>
                                                    @m.APPID
                                                </td>
                                                <td>
                                                    @m.Remark
                                                </td>

                                                <td>@m.Creater @m.CreateTime</td>
                                                <td>@m.Updater @m.UpdateTime</td>


                                            </tr>
                                        }

                                        @if (Model.Count == 0)
                                        {
                                            <tr><td colspan="6" class="center" height="100px">暂无数据</td></tr>
                                        }
                                    </tbody>


                                </table>
                            </div>
                            <!-- /.span -->


                        </div><!-- /.row -->
                        @{var page = ViewBag.Page as VisualSmart.Util.PagerDomain;}
                        <!-- 分页 -->
                        @Html.BootStrapPager("page", page.PageSize, page.TotalCount, page.CurrentPage, page.TotalPageCount)
                        <div class="hr hr-18 dotted hr-double"></div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->

            </form>
        </div>
    </div>
</div><!-- /.page-content -->

<script src="~/Content/components/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Content/components/_mod/datatables/jquery.dataTables.bootstrap.js"></script>

<script src="~/Content/components/datatables.net-select/js/dataTables.select.js"></script>
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />
<script type="text/javascript">

    function PostForm(page) {
        $("#page").val(page);
        $("#index").submit();
    }

    //删除
    function Delete(id) {
        if (confirm("确定要删除此数据吗?") == true) {
            var url = "/WxPayConfig/Delete/?id=" + id;
            $.ajax({
                url: url,
                data: { '__RequestVerificationToken': $('input[name=__RequestVerificationToken]').val() },
                cache: false,
                type: 'post',
                async: false,
                success: function (data) {

                    if (data.Mess == "success") {
                        $.gritter.add({
                            title: '删除成功！',
                            text: '',
                            class_name: 'gritter-info gritter-light'
                        });
                        setTimeout(function () { window.location.reload(); }, 500);
                    }
                    else {
                        $.gritter.add({
                            title: data.Mess,
                            text: '',
                            class_name: 'gritter-error gritter-light'
                        });
                    }

                }
            });
        }
    }
</script>
