@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .cellStyle {
        margin: 0px;
         
        padding: 0px;
    }
</style>
@using VisualSmart.Domain.SetUp;
@using VisualSmart.Util;
@model IList<UserDomain>
@using (Html.BeginForm())
{ <div class="container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        系统用户查询
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row form-inline form-group-sm">
                            <div class="col-xs-6 col-sm-3">
                                <div class="form-group">
                                    <label for="txtName">姓名</label>
                                    <input type="text" class="form-control" id="txtName" placeholder="姓名">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="form-group">
                                    <label for="txtDepart">部门</label>
                                    <input type="text" class="form-control" id="txtDepart" placeholder="部门">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-2">
                                <label for="txtDepart">状态</label>
                                <select class="form-control">
                                    <option value="1">在职</option>
                                    <option value="0">离职</option>
                                    <option value="-1">全部</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <input type="submit" class="btn btn-primary btn-sm" value="查询" />
                                <a class="btn btn-default btn-sm" href="/User/Add">添加</a>
                                <input type="submit" class="btn btn-default btn-sm" value="删除" />
                            </div>
                        </div>
                    </div>


                    @*<div class="form-inline form-group-sm ">
                            <div class="form-group">
                                <label for="txtName">姓名</label>
                                <input type="text" class="form-control" id="txtName" placeholder="姓名">
                            </div>
                            <div class="form-group">
                                <label for="txtDepart">部门</label>
                                <input type="text" class="form-control" id="txtDepart" placeholder="部门">
                            </div>
                            <div class="form-group">
                                <label for="txtDepart">状态</label>
                                <select class="form-control">
                                    <option value="1">在职</option>
                                    <option value="0">离职</option>
                                    <option value="-1">全部</option>
                                </select>
                            </div>
                            <div class="form-group" style="float:right;">
                                <input type="submit" class="btn btn-primary btn-sm" value="查询" />
                                <input type="submit" class="btn btn-default btn-sm" value="添加" />
                                <input type="submit" class="btn btn-default btn-sm" value="删除" />
                            </div>
                        </div>*@


                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="table-check">
                            <input id="checkAll" type="checkbox" />
                        </th>
                        <th>用户名</th>
                        <th>真实姓名</th>
                        <th>性别</th>
                        <th>电话</th>
                        <th>邮箱</th>
                        <th>所属公司</th>
                        <th>职位</th>
                        <th>注册时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model)
                    {
                    <tr>
                        <td><input name="subBox" type="checkbox" /></td>
                        <td>@m.loginId</td>
                        <td>
                            @m.Name
                        </td>
                        <td>@(m.Sex ? "男" : "女")</td>
                        <td>@m.Phone</td>
                        <td>@m.Email</td>
                        <td>@m.Company</td>
                        <td>@m.Position</td>
                        <td class="am-hide-sm-only">@m.CreateTime</td>
                        <td><a href="#" class="btn btn-success btn-sm" role="button">修改</a> 
                            <a href="#" class="btn btn-warning btn-sm" role="button" data-toggle="modal" data-target="#myModal" onclick="select(@m.Id);">删除</a></td>
                    </tr>}
                </tbody>
            </table>
        </div>

        @{var page = ViewBag.Page as VisualSmart.Util.PagerDomain;}

        @Html.BootStrapPager("page", page.PageSize, page.TotalCount, page.CurrentPage, page.TotalPageCount)
    </div>
    <input type="hidden" id="selectId" value="" />
     <!-- Button trigger modal -->
     
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">删除警告</h4>
                </div>
                <div class="modal-body">
                    确定要删除此数据吗？
                </div>
                <div class="modal-footer">                    
                    <a id="delId" href="#" class="btn btn-danger">确定</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function select(id)
        {
            $("#selectId").val(id);
            $('#delId').attr('href','/User/delete?id='+id+'');             
        }

    </script>
}

