@{
    ViewBag.Title = "发运窗口时间";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using VisualSmart.Domain.ProBase;
@using VisualSmart.Util;
@model IList<Base_Ship>

<div class="page-content">

    <div class="page-header">
        <h1>
            发运窗口时间
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                查询条件
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal " role="form" action="/Ship/Index" id="index" method="get">
                <input type="hidden" id="page" name="page" />
                @Html.AntiForgeryToken()
                <!-- 查询条件-->
                <div class="form-group" style="margin-bottom:6px;">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-tags">角色名称：</label>
                    <div class="col-sm-3 ">
                        <input type="text" name="roleName" id="roleName" placeholder="名称" value="@ViewBag.RoleName" />
                    </div>

                </div>
                <hr class="no-padding no-margin" />
                <div class="row">
                    <div class="col-xs-12">
                        <!-- 查询功能-->
                        <div class="row">
                            <div class="col-sm-12 " id="default-buttons">

                                <p>
                                    <button class="btn btn-sm btn-success" type="submit">
                                        <i class="ace-icon fa fa-search bigger-110 "></i>
                                        查询
                                    </button>
                                    <a class="btn btn-sm btn-primary " href="/Ship/Add">
                                        <i class="ace-icon fa fa-plus bigger-110"></i>
                                        添加
                                    </a>
                                </p>
                                <!-- /section:elements.button.white -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->

                        <div class="space-4"></div>
                        <!-- 查询列表 -->
                        <div class="row">

                            <div class="col-xs-12 table-responsive">
                                <table id="simple-table" class="table table-hover table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th>操作</th>
                                            <th>发运地</th>
                                            <th>发运地说明</th>
                                            <th>地点</th>
                                            <th>目的地</th>
                                            <th>发运窗口时间</th>
                                            <th>提前期/H</th>
                                            <th>创建时间/创建人</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var m in Model)
                                        {
                                            <tr>
                                                <td>

                                                    <div class="btn-group">
                                                        <a href="/Ship/Add?Id=@m.Id" class="btn btn-xs btn-info" title="编辑">
                                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                        </a>

                                                        <a class="btn btn-xs btn-danger" title="删除" onclick="Delete('@m.Id');">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>@m.ShipTo</td>
                                                <td>@m.ShipToName</td>
                                                <td>@m.CityNo</td>
                                                <td>@m.City</td>
                                                <td>@m.ShipToHour</td>
                                                <td>
                                                    @m.ShipToMins ：@m.LeadTime.ToString("00")
                                                </td>
                                                <td class="am-hide-sm-only">@m.CreateTime/@m.Creater</td>


                                            </tr>
                                        }
                                    </tbody>


                                </table>
                            </div>
                            <!-- /.span -->


                        </div><!-- /.row -->
                        @{var page = ViewBag.Page as VisualSmart.Util.PagerDomain;}
                        <!-- 分页 -->
                        @Html.BootStrapPager("page", page.PageSize, page.TotalCount, page.CurrentPage, page.TotalPageCount)
                        <div class="hr hr-18 dotted hr-double"></div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->

            </form>
        </div>
    </div>
</div><!-- /.page-content -->

<script src="~/Content/components/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Content/components/_mod/datatables/jquery.dataTables.bootstrap.js"></script>
<script src="~/Content/components/datatables.net-buttons/js/dataTables.buttons.js"></script>
<script src="~/Content/components/datatables.net-buttons/js/buttons.flash.js"></script>
<script src="~/Content/components/datatables.net-buttons/js/buttons.html5.js"></script>
<script src="~/Content/components/datatables.net-buttons/js/buttons.print.js"></script>
<script src="~/Content/components/datatables.net-buttons/js/buttons.colVis.js"></script>
<script src="~/Content/components/datatables.net-select/js/dataTables.select.js"></script>
<script type="text/javascript">

    function PostForm(page) {
        $("#page").val(page);
        $("#index").submit();
    }

    //删除
    function Delete(id) {
        if (confirm("确定要删除此数据吗?") == true) {
            var url = "/Ship/Delete/?id=" + id;
            $.ajax({
                data: { '__RequestVerificationToken': $('input[name=__RequestVerificationToken]').val() },
                url: url,
                type: 'post',
                async: false,
                cache: false,
                success: function (data) {
                    if (data.Mess == "success") {
                        $.gritter.add({
                            title: '删除成功！',
                            text: '',
                            class_name: 'gritter-info gritter-light'
                        });
                        setTimeout(function () { window.location.reload(); }, 500);
                    }

                }
            });
        }
    }
</script>
