
@{
    ViewBag.Title = "库存编辑";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VisualSmart.Domain.ProBase.Base_Stock
<div class="page-content">
    <div class="page-header">
        <h1>
            @ViewBag.ViewTitle 库存
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                请填写下面内容
                <input type="hidden" id="error" value="@ViewBag.Error" />
            </small>
        </h1>
    </div><!-- /.page-header -->


    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" role="form" action="/Stock/Add" method="post">

                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="RoleName"> <span style="color:red;">*</span>地点</label>

                        <div class="col-sm-9">
                            @Html.HiddenFor(t => t.Id)
                            @Html.HiddenFor(T => T.CreateTime)
                            @Html.HiddenFor(T => T.MainId)
                            @Html.AntiForgeryToken()
                            @Html.TextBoxFor(t => t.Location, new { @class = "col-xs-10 col-sm-5", @data_rel = "tooltip", @data_placement = "right",
                           @title = "请输地点", @placeholder = "请输地点", @data_trigger = "focus" })
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="RoleName"> <span style="color:red;">*</span>库位</label>

                        <div class="col-sm-9">

                            @Html.TextBoxFor(t => t.WH, new { @class = "col-xs-10 col-sm-5", @data_rel = "tooltip", @data_placement = "right", @title = "请输入库位",
                           @placeholder = "请输入库位", @data_trigger = "focus" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="RoleName"> <span style="color:red;">*</span>产品编码</label>

                        <div class="col-sm-9">

                            @Html.TextBoxFor(t => t.GoodNo, new { @class = "col-xs-10 col-sm-5", @data_rel = "tooltip",
                           @data_placement = "right", @title = "请输入产品编码", @placeholder = "请输入产品编码", @data_trigger = "focus",
                           @onblur = "ChangeInfo('GoodNo','GoodName');"
                       })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="RoleName"> <span style="color:red;">*</span>产品名称</label>

                        <div class="col-sm-9">

                            @Html.TextBoxFor(t => t.GoodName, new { @class = "col-xs-10 col-sm-5", @readonly = true, @data_rel = "tooltip", @data_placement = "right", @title = "请输入产品名称", @placeholder = "请输入产品名称", @data_trigger = "focus" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="RoleDec">数量</label>

                        <div class="col-sm-9">
                            @Html.TextBoxFor(t => t.Qty, new { @class = "col-xs-10 col-sm-5" })

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="RoleDec">批次</label>

                        <div class="col-sm-9">
                            @Html.TextBoxFor(t => t.Batch, new { @class = "col-xs-10 col-sm-5" })

                        </div>
                    </div>
                

                </div>

                <div class="row">
                    <div class="col-xs-12">

                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="submit" id="btnSave">
                                    <i class="ace-icon fa fa-check bigger-110 "></i>
                                    保存
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <a class="btn" href="/Stock/Index?mainId=@Model.MainId">
                                    <i class="ace-icon fa fa-undo bigger-110 "></i>
                                    返回
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.col -->
        <!-- /.table-responsive -->
    </div>
</div><!-- /.row -->
@{

    var GoodList = ViewBag.GoodList as IList<string>;
    var stringGoodList = new HtmlString(Newtonsoft.Json.JsonConvert.SerializeObject(GoodList));
}
<script src="~/Content/components/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript">
    jQuery(function ($) {

        //$('[data-rel=tooltip]').tooltip({ container: 'body' });
        //$('[data-rel=popover]').popover({ container: 'body' });
        var error = $("#error").val();
        if (error != "") {
            var className = "gritter-error gritter-light";
            if (error == 1) {
                className = "gritter-info gritter-light";
                error = "保存成功！";
            }

            $.gritter.add({
                title: error,
                text: "",
                class_name: className
            });
        }
        //autocomplete
        var availableTags = @stringGoodList;

        $("#GoodNo").autocomplete({
            source: availableTags
        }); 
    });

    function ChangeInfo(goodNo,goodName){
        var goodNoVal= $("#" + goodNo + "").val();
        if(goodNoVal!=""){           
            var arr = goodNoVal.split(',');
            console.log(arr);
            if(arr.length>1){
                $("#" + goodNo + "").val(arr[0]);
                $("#" + goodName + "").val(arr[1]);
            }
        }else{
            $("#" + goodName + "").val("");
        }
    }

    $("#btnSave").click(function () {

        var result = CheckValue("Location") && CheckValue("WH") && CheckValue("GoodNo") && CheckValue("GoodName");
        return result;
    });

    function CheckValue(name) {
        var control = $("#" + name + "");
        if (control.val() == "") {
            control.focus();
            return false;
        }
        return true;
    }

</script>
